{% extends 'base.html' %}

{% block bookdetails %}
<div class='row'>
    <div class='col'>
        <div class='card'>
            <div class='card-header'>Book Details</div>
            <div class='card-body'>
                <p><b>Title:</b> {{bookstore.book_title}}</p>
                <p><b>Author:</b> {{bookstore.author}}</p>
                <p><b> Publishing House:</b> {{bookstore.publishing_house}}</p>
                <p><b>ISBN:</b> {{bookstore.isbnh}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock bookdetails %}